.slideBar{
    height: 100%;
    width: 100%;
}
.dashboardPage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color:var(--white);
    text-decoration: none;
    font-family: var(--secondFont);
}
