@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --main: #878244;
  --second:#ff7f47;
  --third:#000;
  --fourth:#849099;
  --white: #ffffff;

  --mainFont: 'Roboto', sans-serif;
  --secondFont:'Audiowide', cursive;
}
